<table class="table">
	<tr>
		<th scope="col">SubjectCode</th>
		<td>{{data.scode}}</td>
	</tr>
	<tr>
		<th scope="col">SubjectName</th>
		<td>{{data.sname}}</td>
	</tr>
	<tr>
		<th scope="col">InstituteName</th>
		<td>{{data.iname}}</td>
	</tr>
	<tr>
		<th scope="col">DepartmentName</th>
		<td>{{data.dname}}</td>
	</tr>
	<tr>
		<th scope="col">Semester</th>
		<td>{{data.sem}}</td>
	</tr>
</table>